body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://www.microsoft.com/en-us/research/uploads/prod/2019/11/Programming-Languages-and-Software-Engineering-page-header_1920x720_1.31.2024.png')
    center / cover no-repeat !important;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #212121;
  line-height: 1.5;
  position: relative;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
  position: relative;
}

.loader {
  display: none;
}

.loader.show {
  display: block;
  text-align: center;
}

.error {
  display: none;
  color: red;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.error.show {
  display: block;
}

#breed-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.cat-info {
  text-align: left;
  margin-top: 20px;
}

.cat-info img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
}

.cat-info h2 {
  margin-top: 0;
}

.cat-info p {
  margin: 0;
  margin-bottom: 10px;
}
